@import "./*";
@import "bootstrap-sprockets";
@import "bootstrap";
* {
  margin-left: 10px;
  }
  .user-info {
    margin-top: 10px;
    margin-right: 10px;
  }

  .wiki-list{
    margin-top: 10px;
  }
