<h2>Thanks, you paid <strong>$15.00</strong>! for your premium subscription</h2>
<div class="row">
  <div class="col-md-8">
    <p><%= link_to "Back to Wikis", wikis_path %> </p>
    <!-- <%= link_to "Downgrade your premium a/c", charge_path(current_user), method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to downgrade your a/c?'}  %> -->
  </div>
</div>
